$nav-bk: #f8f4f1;
$box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);


#header{
	position: absolute;
	width: 100%;
	z-index: 99;

	.sticky {
	width: 100%;
	}
}

.is-sticky nav.main-nav .nav-brand img {
background: rgba(0,0,0,0);
width: 83px;
height: 83px;
padding: 5px;
border-radius: 50%;
}

.is-sticky nav.main-nav .nav-brand {
margin-top: 0;
}

#socialMediaIconsWrapper {

		right: 25px;
		position: fixed;
		bottom: 0;
		z-index: 99999;
		
		div{
			border-radius: 100%; 
			margin: 15px;
			float: left;
		}
		#fbIcon{
			background: #44619D;
		}
		#pinterestIcon{
			background: #D11E16;
		}
		#instagramIcon{
			background: #EAD9C4;
		}


}

nav.main-nav{
	height: 80px;
	background: $nav-bk;
	width: 100%;
	margin-top: 4.6%;
	box-shadow: $box-shadow;
	z-index: 99;

	.nav-brand{
		-webkit-transition: 1s; /* Safari */
    	transition: 1s;
		margin-top: -15%;
		margin-left: 20%;
		img{
			-webkit-transition: 1s; /* Safari */
    		transition: 1s;
			background: $nav-bk;
			width: 180px;
			height: 180px;
			padding: 12px;
			border-radius: 50%;
		}
	}

	.main-nav-menu{
		.list-main-nav-menu{
			list-style-type: none;
			float: right;
			margin-right: 10%;
			margin-top: 1.3%;

      #catalogDownloadButton {
        padding: 10px 20px;
        /* border: #A3B825 solid 2px; */
        color: #fff;
        margin: -4px 0 0 10px;
        font-size: 16px;
        background: #BDD52D;
        a {
          color: #fff;
        }
      }

			li{
				padding: 0 20px;
				display: inline-block;
				a{
					color: #333333;
					font-weight: 100;
					font-size: 20px;
				}
				a:hover{
					color: #BDD52D;
					font-weight: 100;
					text-underline: none;
					font-size: 20px;
				}
				a.active{
					border-bottom: solid 3px #a0b61e;
					padding-bottom: 24px;
				}
			}
		}
	}
}
